@charset "UTF-8";
body { font-family:'Courier New', Courier, monospace; background-image:linear-gradient(to top,#2ABFBF,#E7DCF2); font-family: Georgia, 'Times New Roman', Times, serif; }
h1{font-family:'Courier New', Courier, monospace; color:#c8afe2;}
h1#principal{font-family:'Courier New', Courier, monospace; color: #ccb8e0; text-align: center; margin-top: 20px; background-color:#ac6799};
p{ font-family:'Courier New', Courier, monospace; text-align:justify; }
h2{font-family:'Courier New', Courier, monospace; color:#2ABFBF;}
.basico {font-family:'Courier New', Courier, monospace; color:#E7DCF2; text-align: center; background-color:#2ABFBF;}
.intermediario {font-family:'Courier New', Courier, monospace; color:#2ABFBF; text-align: center; background-color:#E7DCF2;}
.avancado {font-family:'Courier New', Courier, monospace; color:#BF349A; text-align: center; background-color:#E7DCF2;}
.sublime { text-decoration: underline #BF349A; }