@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background-color:rgb(185, 142, 185);
    text-align: center;
    height: 100vh;
    width: 100vw;
}
header > h1{
    border: 1px solid black;
}
h3{
    color: rgb(87, 0, 0);
    font-size: 25px;
}
header{
    background-image: linear-gradient(to top, rgb(87, 0, 0), rgb(129, 39, 39) );
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.418);
}
nav {
    border: 1px solid black;
}
main {
    background: rgba(87, 0, 0, 0.432);
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.418);
}