.Abstract-blue-and-yellow-color-paper-geometry-composition-background-1-hex { color: #20448C; }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-2-hex { color: #086CB4; }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-3-hex { color: #008CDB; }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-4-hex { color: #FFBC24; }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-5-hex { color: #FFD340; } 

/* Color Theme Swatches in RGBA */
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-1-rgba { color: rgba(31, 68, 140, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-2-rgba { color: rgba(8, 107, 179, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-3-rgba { color: rgba(0, 140, 219, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-4-rgba { color: rgba(255, 188, 35, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-5-rgba { color: rgba(255, 211, 63, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-1-hsla { color: hsla(219, 62, 33, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-2-hsla { color: hsla(205, 91, 36, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-3-hsla { color: hsla(201, 100, 42, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-4-hsla { color: hsla(41, 100, 57, 1); }
.Abstract-blue-and-yellow-color-paper-geometry-composition-background-5-hsla { color: hsla(46, 100, 62, 1); }
